/*=============================================
=            GENERAL SETTINGS            =
=============================================*/


/*----------  Importing CSS  ----------*/
@import "_normalize.css";
@import "_variables.css";
@import "_forms.css";

ul{
  padding: 0;
  margin: 0;
}

/*=====  End of GENERAL SETTINGS  ======*/


/*=============================================
=            GLOBAL STYLES            =
=============================================*/
body{
  background-color: #202529;
  font-size: 16px;
}

header{
  background-color: #000;
  min-height: 150px;
}

.main__dashboard{
  /*lost-center: 1080px; Removed*/
  &--sidebar{
    background-color: #32383d;
    @media(--tablet){
      lost-column: 1/4;
    }
  }/* Sidebar */

  &--user{
    padding-left: 85px;
    position: relative;
    padding-top: 23px;
    padding-bottom: 23px;
    background-color: #3c454c;

    .icon{
      width: 52px;
      height: 52px;
      line-height: 52px;
      color: white;
      text-align: center;
      background-color: #1bc6b4;
      border-radius: 50%;
      position: absolute;
      left: 20px;
      top: 15px;
      font-size: 24px;
    }
  }

  &--userDetails{
    color: #a1b4c4;

    h4{
      font-size: 16px;
      margin: 0;
      padding: 0;

    }
    h2{
      font-size: 20px;
      margin: 0;
      padding: 0;
      a{
        color: #a1b4c4;
        text-decoration: none;
      }
    }

  }/* User Details */

  &--menu{
    margin-top: 20px;

    ul{
      list-style: none;
    }

    li{
      border-bottom: 1px solid rgba(161,180,196,.1);
      position: relative;
      &:last-child{
        border-bottom: 0;
      }

      img{
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 999;
      }
    }

    a{
      display: block;
      color: #a1b4c4;
      text-decoration: none;
      padding-top: 21px;
      padding-bottom: 21px;
      padding-left: 60px;
      padding-right: 24px;
      font-size: 16px;

      &:hover{
        background-color: #a1b4c4;
        color: black;
      }

    }
  }

  &--content{
    lost-column: 3/4;
    background-color: #202529;
    padding: 1rem;
    box-sizing: border-box;
  }
}

h1,
h2,
h3,
h4,
h5,
h6{
  color: #a1b4c4;
}
