@font-face {
    font-family: monospace;
    font-style: italic;
    font-weight: 400;
    src: local("Menlo Italic"),local(Menlo-Italic),local("Consolas Italic"),local(Consolas-Italic),local("Courier New Italic");
}


@font-face {
    font-family: monospace;
    font-style: italic;
    font-weight: 700;
    src: local("Menlo Bold Italic"),local(Menlo-BoldItalic),local(Monaco),local("Consolas Bold Italic"),local(Consolas-BoldItalic),local("Courier New Bold Italic");
}


@font-face {
    font-family: monospace;
    font-style: normal;
    font-weight: 400;
    src: local("Menlo Regular"),local(Menlo-Regular),local(Monaco),local(Consolas),local("Courier New");
}


@font-face {
    font-family: monospace;
    font-style: normal;
    font-weight: 700;
    src: local("Menlo Bold"),local(Menlo-Bold),local(Monaco),local("Consolas Bold"),local(Consolas-Bold),local("Courier New Bold");
}


@font-face {
    font-family: sans-serif;
    font-style: italic;
    font-weight: 300;
    src: local("Helvetica Neue Light Italic"),local(HelveticaNeue-LightItalic),local("Helvetica Light Oblique"),local(Helvetica-LightOblique);
}


@font-face {
    font-family: sans-serif;
    font-style: italic;
    font-weight: 400;
    src: local("Helvetica Neue Italic"),local(HelveticaNeue-Italic),local("Helvetica Oblique"),local(Helvetica-Oblique);
}


@font-face {
    font-family: sans-serif;
    font-style: italic;
    font-weight: 700;
    src: local("Helvetica Neue Bold Italic"),local(HelveticaNeue-BoldItalic),local("Helvetica Bold Oblique"),local(Helvetica-BoldOblique);
}


@font-face {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 300;
    src: local("Helvetica Neue Light"),local(HelveticaNeue-Light),local("Helvetica Light"),local(Helvetica-Light);
}


@font-face {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    src: local(HelveticaNeue),local(Helvetica);
}


@font-face {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    src: local("Helvetica Neue Bold"),local(HelveticaNeue-Bold),local("Helvetica Bold"),local(Helvetica-Bold);
}


/*=============================================
=            GENERAL SETTINGS            =
=============================================*/


/*----------  Importing CSS  ----------*/


/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */


/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */


/* Document
   ========================================================================== */


html {
    font-family: sans-serif; /* 1 */
    line-height: 1.15; /* 2 */
    -ms-text-size-adjust: 100%; /* 3 */
    -webkit-text-size-adjust: 100%; /* 3 */
  }


/* Sections
     ========================================================================== */


/**
   * Remove the margin in all browsers (opinionated).
   */


body {
    margin: 0;
  }


/**
   * Add the correct display in IE 9-.
   */


article, aside, footer, header, nav, section {
    display: block;
  }


/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */


h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }


/* Grouping content
     ========================================================================== */


/**
   * Add the correct display in IE 9-.
   * 1. Add the correct display in IE.
   */


figcaption, figure, main { /* 1 */
    display: block;
  }


/**
   * Add the correct margin in IE 8.
   */


figure {
    margin: 1em 40px;
  }


/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */


hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }


/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */


pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }


/* Text-level semantics
     ========================================================================== */


/**
   * 1. Remove the gray background on active links in IE 10.
   * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
   */


a {
    background-color: transparent; /* 1 */
    -webkit-text-decoration-skip: objects; /* 2 */
  }


/**
   * Remove the outline on focused links when they are also active or hovered
   * in all browsers (opinionated).
   */


a:active, a:hover {
    outline-width: 0;
  }


/**
   * 1. Remove the bottom border in Firefox 39-.
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */


abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    -webkit-text-decoration: underline dotted;
            text-decoration: underline dotted; /* 2 */
  }


/**
   * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
   */


b, strong {
    font-weight: inherit;
  }


/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */


b, strong {
    font-weight: bolder;
  }


/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */


code, kbd, samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }


/**
   * Add the correct font style in Android 4.3-.
   */


dfn {
    font-style: italic;
  }


/**
   * Add the correct background and color in IE 9-.
   */


mark {
    background-color: #ff0;
    color: #000;
  }


/**
   * Add the correct font size in all browsers.
   */


small {
    font-size: 80%;
  }


/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */


sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }


sub {
    bottom: -0.25em;
  }


sup {
    top: -0.5em;
  }


/* Embedded content
     ========================================================================== */


/**
   * Add the correct display in IE 9-.
   */


audio, video {
    display: inline-block;
  }


/**
   * Add the correct display in iOS 4-7.
   */


audio:not([controls]) {
    display: none;
    height: 0;
  }


/**
   * Remove the border on images inside links in IE 10-.
   */


img {
    border-style: none;
  }


/**
   * Hide the overflow in IE.
   */


svg:not(:root) {
    overflow: hidden;
  }


/* Forms
     ========================================================================== */


/**
   * 1. Change the font styles in all browsers (opinionated).
   * 2. Remove the margin in Firefox and Safari.
   */


button, input, optgroup, select, textarea {
    font-family: sans-serif; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }


/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */


button, input { /* 1 */
    overflow: visible;
  }


/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */


button, select { /* 1 */
    text-transform: none;
  }


/**
   * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
   *    controls in Android 4.
   * 2. Correct the inability to style clickable types in iOS and Safari.
   */


button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button; /* 2 */
  }


/**
   * Remove the inner border and padding in Firefox.
   */


button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }


/**
   * Restore the focus styles unset by the previous rule.
   */


button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }


/**
   * Change the border, margin, and padding in all browsers (opinionated).
   */


fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
  }


/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */


legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }


/**
   * 1. Add the correct display in IE 9-.
   * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */


progress {
    display: inline-block; /* 1 */
    vertical-align: baseline; /* 2 */
  }


/**
   * Remove the default vertical scrollbar in IE.
   */


textarea {
    overflow: auto;
  }


/**
   * 1. Add the correct box sizing in IE 10-.
   * 2. Remove the padding in IE 10-.
   */


[type="checkbox"], [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }


/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */


[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }


/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */


[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }


/**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */


[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }


/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */


::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }


/* Interactive
     ========================================================================== */


/*
   * Add the correct display in IE 9-.
   * 1. Add the correct display in Edge, IE, and Firefox.
   */


details, menu {
    display: block;
  }


/*
   * Add the correct display in all browsers.
   */


summary {
    display: list-item;
  }


/* Scripting
     ========================================================================== */


/**
   * Add the correct display in IE 9-.
   */


canvas {
    display: inline-block;
  }


/**
   * Add the correct display in IE.
   */


template {
    display: none;
  }


/* Hidden
     ========================================================================== */


/**
   * Add the correct display in IE 10-.
   */


[hidden] {
    display: none;
  }


/*=============================================
=            Variables            =
=============================================*/


/*=====  End of Variables  ======*/


/* -- Custom Media queries */


/*@custom-media --tablet (max-width: 650px);*/


input[type="text"], input[type="email"], input[type="telephone"]{
  display: block;
  font-size: 16px;
  width: 100%;
}


ul{
  padding: 0;
  margin: 0;
}


/*=====  End of GENERAL SETTINGS  ======*/


/*=============================================
=            GLOBAL STYLES            =
=============================================*/


body{
  background-color: #202529;
  font-size: 16px;
}


header{
  background-color: #000;
  min-height: 150px;
}


/*lost-center: 1080px; Removed*/


.main__dashboard--sidebar{
    background-color: #32383d;
  }


/*Sidebar*/


.main__dashboard--user {
    padding-left: 85px;
    position: relative;
    padding-top: 23px;
    padding-bottom: 23px;
    background-color: #3c454c;
}


.main__dashboard--user .icon{
      width: 52px;
      height: 52px;
      line-height: 52px;
      color: white;
      text-align: center;
      background-color: #1bc6b4;
      border-radius: 50%;
      position: absolute;
      left: 20px;
      top: 15px;
      font-size: 24px;
    }


.main__dashboard--userDetails {
    color: #a1b4c4;
}


.main__dashboard--userDetails h4{
      font-size: 16px;
      margin: 0;
      padding: 0;

    }


.main__dashboard--userDetails h2{
      font-size: 20px;
      margin: 0;
      padding: 0;
    }


.main__dashboard--userDetails h2 a{
        color: #a1b4c4;
        text-decoration: none;
      }


/*User Details*/


.main__dashboard--menu {
    margin-top: 20px;
}


.main__dashboard--menu ul{
      list-style: none;
    }


.main__dashboard--menu li{
      border-bottom: 1px solid rgba(161, 180, 196, .1);
      position: relative
    }


.main__dashboard--menu li:last-child {
    border-bottom: 0;
}


.main__dashboard--menu li img {
        position: absolute;
        left: 15px;
        top: 50%;
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        z-index: 999;
}


.main__dashboard--menu a{
      display: block;
      color: #a1b4c4;
      text-decoration: none;
      padding-top: 21px;
      padding-bottom: 21px;
      padding-left: 60px;
      padding-right: 24px;
      font-size: 16px

    }


.main__dashboard--menu a:hover {
    background-color: #a1b4c4;
    color: black;
}


.main__dashboard--content {
    width: calc(74.925% - 7.5px);
    background-color: #202529;
    padding: 1rem;
    box-sizing: border-box;
}


.main__dashboard--content:nth-child(1n) {
    float: left;
    margin-right: 30px;
    clear: none;
}


.main__dashboard--content:last-child {
    margin-right: 0;
}


.main__dashboard--content:nth-child(4n) {
    margin-right: 0;
    float: right;
}


.main__dashboard--content:nth-child(4n + 1) {
    clear: both;
}


h1, h2, h3, h4, h5, h6{
  color: #a1b4c4;
}


@media (min-width: 500px) {


    .main__dashboard--sidebar {
        width: calc(24.975% - 22.5px);
    }


    .main__dashboard--sidebar:nth-child(1n) {
        float: left;
        margin-right: 30px;
        clear: none;
    }


    .main__dashboard--sidebar:last-child {
        margin-right: 0;
    }


    .main__dashboard--sidebar:nth-child(4n) {
        margin-right: 0;
        float: right;
    }


    .main__dashboard--sidebar:nth-child(4n + 1) {
        clear: both;
    }
}
